
@media print
{
    .printArea
    {
        width: 100% !important;
        height:80% !important;
        margin:auto;
    }
    .printTable
    {
        width: 100% !important;
        margin:auto;
    }
    .printTable td
    {
        font-size: 16pt !important;
    }

}
.border
{
    border:1px solid black;
}
.bold
{
    font-weight: bold;
}
.underline
{
    text-decoration: underline;
}
