.header{width:100%;border:none;margin-top:10px;}

table td{
        border-collapse:collapse;;}

.container{
    background-color:white; width: 1000px;height:auto;border:1px solid black;position:relative;margin:0px auto;padding-left:4px;}
                              
th { 
    text-transform: uppercase; letter-spacing: 0.1em; font-size: 11px;}
                 
td{
    letter-spacing: 0.1em; font-size: 14px;}
	
.details p{
    margin-top:-7px;font-size:14px; }